
- form_tag sessions_url do
  %h3#error= flash[:error]
  %h1 Log in
  %p
    = label_tag 'username'
    = text_field_tag 'username', @login

  %p
    = label_tag 'password'
    = password_field_tag 'password'

  -# .check_box
    = check_box_tag 'remember_me', '1', @remember_me
    = label_tag 'remember_me', 'Remember me'

  %p= submit_tag 'Log in'